{
    "name": "App::Pinewood",
    "App::Pinewood::Model::pinewood": {
        "schema_class": "App::Pinewood::Model",
        "connect_info": {
            "dsn": "dbi:Pg:dbname=pinewood",
            "user": "XXX",
            "password": "YYY"
        }
    }
}